.menu-container {
  display: block;
  position: fixed;
  padding: 55px 30px;
  top: 0;
  right: 0;
  width: 250px;
  height: 100vh;
  background-color: $backgrandHeaderColor;
  transform: translateX(100%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  /*
  
  opacity: 0;
  background-color: $backgrandHeaderColor;
  transform: translateX(100%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  visibility: hidden;
  inset: 0;
 */
}

.menu-toggle {
  min-height: 35px;
  min-width: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: $lettersColorGold;

  &__icon {
    &:hover,
    &:focus,
    &:active {
      fill: $whiteColor;
    }
  }
}

.menu-box {
  position: absolute;
  top: 10px;
  right: 15px;
}
.is-open {
  transform: translateX(0);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 1;
  visibility: visible;
}

.mobile-menu {
  right: 0;
  display: flex;
  list-style: none;
  gap: 2rem;
  flex-direction: column;

  &__link {
    text-decoration: none;
    color: $lettersColorGold;
    letter-spacing: 0.02em;
    font-size: 20px;
    line-height: 25px;

    &:hover,
    &:focus,
    &:active {
      color: $silverColor;
    }
  }
  &__phone {
    text-decoration: none;
    color: $paragraphColor;
    letter-spacing: 0.02em;
    font-size: 20px;
    line-height: 25px;
  }

  &__email {
    text-decoration: none;
    color: $paragraphColor;
    letter-spacing: 0.02em;
    font-size: 20px;
    line-height: 15px;
  }

  &__social {
    list-style: none;
    margin-right: 0.625rem;
    display: flex;
    flex-wrap: wrap;

    &__link--first {
      padding-left: 0;
    }
    &__link--last {
      border-right: none;
    }
  }
}

@media screen and (min-width: 1200px) {
  .menu-toggle {
    display: none;
  }
}
